<html>
	<head>
		<title>OAuthTest</title>
		<% include head_link%>
	</head>
	<body>
		<% include navbar%>
		<div class="ui grid">
			<div class="one wide column">
			</div>
			<div class="ten wide column">
				<div class="ui piled feed segment">
				 	<h2 class="ui header">
				    	微博广场
					</h2>
					<% for(i = 0; i < data.length && i < 20; i++){%>
						<div class="event">
					      	<div class="label">
					        	<a href="/posts/<%=data[i].user.id%>">
					        		<img src=<%= data[i].user.profile_image_url%>>
					        	</a>
					      	</div>
					      	<div class="content">
					         	<div class="date">
					              	<%= data[i].created_at%>
					          	</div>
					          	<div class="summary">
					            	<a href="/posts/<%=data[i].user.id%>" ><%= data[i].user.screen_name%></a>发布微博
					          	</div>
					          	<div class="extra text">
					              	<%= data[i].text%>
					          	</div>
					      </div>
					  	</div>
					<%	} %>
				</div>
			</div>
			<div class="four wide column">
				<div class="ui feed segment">
		          	<h4 class="ui red header">Welcome</h4>
		          	<div class="event">
		              	<div class="content">
		                  	<div class="summary">
		                      欢迎来到OAuthTest！这是一个测试新浪微博OAuth2.0授权功能的应用网站，您可以点击右上角的“授权”按钮，授权本网站获取您的微博信息。感谢使用！
		                  	</div>
		              	</div>
		            </div>
		            <h4 class="ui red header">用户列表</h4>
		          	<% for(i = 0; i < users.length; i++){%>
						<div class="event">
					      	<div class="label">
					        	<a href="/posts/<%=data[i].user.id%>">
					        		<img src=<%= users[i].profile_image_url%>>
					        	</a>
					      	</div>
					      	<div class="content">
					          	<div class="summary">
					            	<a href="/posts/<%=data[i].user.id%>"><%= users[i].screen_name%></a>
					          	</div>
					      </div>
					  	</div>
					<%	} %>
		        </div>
			</div>
		</div>
	</body>
	<footer>
		<script>
			$(function(){
				$('#nav-allweibo').addClass("active");
			});
		</script>
	</footer>
</html>